<div style="padding: 10px 20px; background: #f1f1f1; border: solid #cecece; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
	<div style="padding:5px; direction: rtl; background: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
		<p style="font-family: tahoma, arial, yekan; padding: 3px;	text-indent: 5px; line-height: 20px; text-align: justify; direction:rtl">
			{nocache}{$message}{/nocache}
		</p>
		<br>
		<p style="font-family: tahoma, arial, yekan; padding: 3px;	text-indent: 5px; line-height: 20px; text-align: justify; direction:rtl">
			{$settings.siteName} www.{$settings.domainName}
		</p>
	</div>
	<br><br>
	<div style="text-align:center; direction: rtl;">
		<a href="http://{$settings.domainName}/" title="{$settings.domainName}">{$settings.domainName}</a>
	</div>
</div>