<div id="pageIn" class="pageIn">
	<h1 class="title">{$lang.pollList}</h1>
	<ul id="chartTopic" style="height: 30px;">
			<li id="chart1" style="float: right; list-style: none; padding: 6px; width: 150px;"><div class="curvedFull rollOver" style="font-weight: bolder; text-align: center; background: #80AAC9; padding: 5px;">کاربران</div></li>
			<li id="chart2" style="float: right; list-style: none; padding: 6px; width: 150px;"><div class="curvedFull rollOver" style="font-weight: bolder; text-align: center; background: #80AAC9; padding: 5px;">سیستم عامل ها</div></li>
			<li id="chart3" style="float: right; list-style: none; padding: 6px; width: 150px;"><div class="curvedFull rollOver" style="font-weight: bolder; text-align: center; background: #80AAC9; padding: 5px;">مرورگرها</div></li>
			<li id="chart4" style="float: right; list-style: none; padding: 6px; width: 150px;"><div class="curvedFull rollOver" style="font-weight: bolder; text-align: center; background: #80AAC9; padding: 5px;">عمل ها</div></li>
	</ul>
	{$chart}
	<br><br>
	<div class="listHeader clearFix">
		<div class="row cell2 center" style="border-left: 1px solid #D8D5D5;">#</div>
		<div class="row cell2 center" style="border-left: 1px solid #D8D5D5;">{$lang.user}</div>
		<div class="row cell16 center" style="border-left: 1px solid #D8D5D5;">{$lang.timeStamp}</div>
		<div class="row cell4 center" style="border-left: 1px solid #D8D5D5;">{$lang.browser}</div>
		<div class="row cell3 center" style="border-left: 1px solid #D8D5D5;">{$lang.version}</div>
		<div class="row cell7 center" style="border-left: 1px solid #D8D5D5;">{$lang.ip}</div>
		<div class="row cell23 center" style="border-left: 1px solid #D8D5D5;">{$lang.reffer}</div>
		<div class="row cell15 center" style="border-left: 1px solid #D8D5D5;">{$lang.host}</div>
		<div class="row cell6 center" style="border-left: 1px solid #D8D5D5;">{$lang.os}</div>
		<div class="row cell6 center" style="border-left: 1px solid #D8D5D5;">{$lang.op}</div>
		<div class="row cell8 center" style="border-left: 1px solid #D8D5D5;">{$lang.mode}</div>
		<div class="row cell7 center">{$lang.title}</div>
	</div>
	{nocache}
	<font size="0.5px">
	{foreach name=entity key=entityKey item=entityItem from=$entityList}
	<div class="blockquote clearFix" id="row{$entityItem.id}">
		<div class="row cell2 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.num}</div>
		<div class="row cell2 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.user}</div>
		<div class="row cell16 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.timeStamp}</div>
		<div class="row cell4 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.agent}</div>
		<div class="row cell3 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.version}</div>
		<div class="row cell7 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.ip}</div>
		<div class="row cell23 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.reffer}</div>
		<div class="row cell15 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.host}</div>
		<div class="row cell6 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.os}</div>
		<div class="row cell6 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.op}</div>
		<div class="row cell8 center LH30" style="border-left: 1px solid #D8D5D5;">&nbsp;{$entityItem.mode}</div>
		<div class="row cell7 center LH30">{$entityItem.title}</div>
	</div>
	{/foreach}
	</font>
	<br>
	<div class="blockquote">{$navigation}</div>
	{/nocache}
</div>