<h1 style="color:black">ارسال کد فعالسازی</h1>
<div>
	<div class="curvedFull paddy10">
		<div class="clearFix">
			<div class="row cell25 LH35">{$lang.email}:</div>
			<div class="row cell75 LH35"><input id="emailMobile" name="emailMobile" class="input" type="hidden" size="30" maxlength="100" value="{$email}">{$email}{$userItem.email}</div>
		</div>
		<div id="verificationCodeSection" class="clearFix">
			<div class="row cell25 LH35">{$lang.code}:</div>
			<div class="row cell75"><input id="verificationCode" name="verificationCode" class="input" type="text" size="30" maxlength="16"></div>
		</div>
		<br><br><br><br>
		<div class="paddy1 center">
			<button onclick="
				$('#content').farajax('loader', '/userMan/c_emActivation',
					   'uid={$id}'+
					   '&emailMobile=' + document.getElementById('emailMobile').value + '::{$lang.email}<>Multi<>1<>ce<>100' +
					   '&verificationCode=' + document.getElementById('verificationCode').value + '::{$lang.code}<>Multi<>1<>nce<>8' +
					   '&mode=emailVerificationCodeSuccessfullSent'
				);
			">
			ارسال کد / فعالسازی
			</button>
		</div>
	</div>
</div>